.venv/
.pytest_cache/
__pycache__/
*.py[cod]
.DS_Store

/data/*
!/data/test/
!/data/train/
!/data/validation/
/data/test/*
/data/train/*
/data/validation/*
!/data/test/.gitkeep
!/data/train/.gitkeep
!/data/validation/.gitkeep

/outputs/
/models/*
!/models/.gitkeep
/doc/
.omc